body {
  background: #A4BEF3
}
*{
  text-align:center
}
.header {
  font-family: 'Bungee Shade';font-size: 50px;
}

.header2 {
  font-family: 'Carrois Gothic';font-size: 22px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.directions {
  font-family: 'Carrois Gothic';
  font-variant: small-caps
}
strong {
    font-family: 'Carrois Gothic';font-size: 50px;
    font-weight: bold;
    text-decoration: underline overline
}
.proteinInBox {
  border-radius: 50%;
  width: 250px;
  margin: 0 auto;
}
#proteinBox{
  display: flex;
  justify-content: center;
  cursor: pointer
  border-style:double;
  border-radius: 20px;
  outline-style: solid;
  outline-color: #553D36;
  background-color: #87A0B2;

}

#recipeBar{
  border-style:double;
  border-radius: 20px;
  outline-style: solid;
  outline-color: #553D36;
  background-color: #87A0B2;
  margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
  text-align: center;
  padding: auto;
}   
#recipeBar img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#recipeBox {
    font-family: 'Coda';font-size: 20px;
}
#recipeInstructions {
  border-style:double;
  background-color: #87A0B2;
  outline-color: #553D36;
  outline-style: solid;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;

}
#recipeIngredient {
  border-style:double;
  background-color: #87A0B2;
  outline-color: #553D36;
  outline-style: solid;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
#recipeName {
  border-style:double;
  background-color: #87A0B2;
  outline-color: #553D36;
  outline-style: solid;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
#ingredientList{
  border-style:double;
  background-color: #87A0B2;
  outline-color: #553D36;
  outline-style: solid;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
#instructions{
  border-style:double;
  background-color: #87A0B2;
  outline-color: #553D36;
  outline-style: solid;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
}
#recipeImage{
  border-style:double solid;
  outline-color: #553D36;
  outline-style: solid;
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
  width: 50%;
}


#rating-display {
    font-family: 'Coda';font-size: 20px;
}
#comment {
    font-family: 'Coda';font-size: 20px;
}
